<html>
<body>

<style type="text/css">
input {
  width: 100%;
  height: 18%;
  font-size: 5em;
  border: 2px solid;
  border-radius: 25px;
}
</style>

<div style="width: 100%; height: 100%;">

<form action="." method="POST">

  <input type="text" name="mod" value="mlaunch" id="mod" hidden="hidden" />
  <input type="text" name="cmd" value="mlaunch n" id="cmd" hidden="hidden" />
  <input value="Next" type="submit" />

</form>

<form action="." method="POST">

  <input type="text" name="mod" value="mlaunch" id="mod" hidden="hidden" />
  <input type="text" name="cmd" value="mlaunch p" id="cmd" hidden="hidden" />
  <input value="Previous" type="submit" />

</form>

<form action="." method="POST">

  <input type="text" name="mod" value="mlaunch" id="mod" hidden="hidden" />
  <input type="text" name="cmd" value="mlaunch a" id="cmd" hidden="hidden" />
  <input value="Pause" type="submit" />

</form>

<form action="." method="POST">

  <input type="text" name="mod" value="mlaunch" id="mod" hidden="hidden" />
  <input type="text" name="cmd" value="subir" id="cmd" hidden="hidden" />
  <input value="Subir" type="submit" />

</form>

<form action="." method="POST">

  <input type="text" name="mod" value="mlaunch" id="mod" hidden="hidden" />
  <input type="text" name="cmd" value="bajar" id="cmd" hidden="hidden" />
  <input value="Bajar" type="submit" />

</form>

</div>

</body>
</html>
